<!DOCTYPE html>
<html>
<head>
  <title>Hello World</title>
  <% include ../partials/header.html %>
</head>
<body>
<h1>Hello, world!</h1>

<p>Local Time: <%= local_time %></p>

<p>UTC: <%= utc %></p>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam libero lorem, auctor vitae luctus quis, pretium vel felis. Nulla maximus dolor id augue elementum iaculis eu non quam. Fusce tincidunt semper est, id semper metus pretium ultricies. Suspendisse interdum turpis eget metus accumsan, ut rutrum mi malesuada. Integer sed neque commodo, malesuada odio ac, sagittis tellus. Aliquam dui turpis, gravida in rhoncus nec, aliquet ac risus. Sed commodo velit quis turpis iaculis, ut gravida augue accumsan. Integer nec semper urna. Nulla facilisi. Aliquam eget tellus eu massa vehicula lobortis eget gravida velit. Aliquam condimentum at urna id pellentesque.</p>

<p>Curabitur tristique consectetur interdum. Nulla turpis ligula, malesuada nec tincidunt ac, interdum eget libero. Proin accumsan ex sit amet aliquet varius. Morbi nec dapibus orci. Nunc ornare venenatis lacus et tristique. Etiam in nisi arcu. Phasellus aliquet, orci non elementum aliquam, lorem massa mattis diam, vitae rhoncus urna massa sit amet enim. Nam condimentum neque ac metus vulputate, a feugiat augue eleifend. Phasellus sem urna, egestas vel interdum quis, lobortis ac massa. Nulla a nisl lobortis, pharetra quam a, ultrices eros. Quisque nec lacus diam. Cras et libero hendrerit, finibus nunc vel, euismod nisi. Fusce nec ipsum eget felis cursus porttitor venenatis nec massa. Phasellus consequat nisl lectus, et aliquam risus tincidunt vitae. Nullam nec blandit lacus, vel feugiat odio.</p>

<p>Integer ac ornare erat. Maecenas arcu ligula, semper eget elementum at, facilisis quis nibh. Cras nec eros id mauris luctus aliquam sed quis augue. Maecenas enim lorem, hendrerit sed risus id, posuere aliquam enim. Quisque condimentum urna velit, id mollis ex varius nec. Suspendisse accumsan luctus tellus ut blandit. Donec eu placerat enim.</p>

<p>Sed nec cursus enim, luctus vestibulum ante. Etiam scelerisque tempor enim at auctor. Phasellus tempor nisl non tortor suscipit, faucibus venenatis magna condimentum. Mauris diam felis, aliquam nec arcu non, rhoncus maximus est. Donec ac libero at ante malesuada pellentesque. Pellentesque sodales ligula vel sodales congue. Pellentesque tristique sed ligula vel facilisis. Aliquam ornare est et posuere semper. Nulla ligula urna, pharetra ac velit non, ullamcorper ullamcorper neque. Nulla facilisi. Curabitur ornare massa non mi laoreet, quis fringilla arcu accumsan. Nulla laoreet ligula vitae semper porta. Cras dictum, mauris eget dignissim sodales, nibh diam efficitur diam, eget malesuada velit nibh quis ipsum.</p>

<p>Morbi ultricies dignissim massa, ac porttitor leo porttitor et. In eget odio viverra, dignissim eros vel, maximus ex. Nullam volutpat quam vel ultrices mattis. In pretium, elit vestibulum lacinia vehicula, massa lorem lacinia risus, a pulvinar nunc magna vel nulla. Vivamus purus lacus, pulvinar a venenatis eu, imperdiet vel nisl. Proin eu nisi ornare, ultricies leo ut, ullamcorper eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lorem turpis, condimentum auctor vestibulum et, tincidunt eu tortor. Nulla vitae vehicula libero, cursus dignissim lacus. Mauris ac aliquet dui. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi a scelerisque orci. Curabitur aliquam congue massa aliquet consectetur. Vestibulum in lacus a elit fermentum pharetra.</p>

</body>
</html>
